body {
  margin: 0;
}
body, html {
  height: 100%;
}

.cont{
  position: static;
}

.bg { 
  background-image: url(HeaderBackground.jpg);
  height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
}

.text {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 40%;
  text-align: center;
  color: white;
  background: white;
  font: 60px Verdana, sans-serif;
  border: 0px;
}

.text span {
  background-color: #333;
}

.biography {
  position: relative;
  height: 100%;
}

.name {
  text-align: center;
}

.jacob-pic {
  position: relative;
  top: 10px;
  height: 100%;
  width: 100%;
  background-position: 5% 5%;
  background-repeat: no-repeat;
  background-size: auto;
}

h1 {
  text-align: center;
}

.pic img{
  float: left;
  position: absolute;
  left: 16%;
}

.pic p {
  position: absolute;
  left: 51%;
  top: 10%;
  text-align: center;
  color: black;
  background: white;
  font: 20px Verdana, sans-serif;
}