body{

    margin-left: 0px;
    text-align: center;
    font-size: 25px;
    font-family: "Monaco", Monaco, sans-serif;
    background-color:White;
}

.column {
    margin-left: 10px;
    font-size: 30px;
    font-family: "Monaco", Monaco, sans-serif;
  float: left;
  width: 32%;
  background-color:#bbb;
}

.column1 {
  margin-left: 10px;
      font-size: 30px;
      font-family: "Monaco", Monaco, sans-serif;
    float: left;
    width: 32%;

  background-color:#ccc;
}

.column2 {
  margin-left: 10px;
      font-size: 30px;
      font-family: "Monaco", Monaco, sans-serif;
    float: left;
    width: 32%;

  background-color:#ddd;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image2 {
    //max-height:235px;
    max-width: 5000px;
    overflow: hidden;
}

.text1 {
    margin: 20px;
    font-size: 30px;
    text-align: left;
}

.button {
    size: 20
}